@charset "UTF-8";

// font
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// animation
a, .btn {
	transition-timing-function: ease;
	transition-duration: 0.3s;
	transition-property: all;
}

// label
.label {
	vertical-align: .125rem; // magic number
}

// フォント指定
.no-thank-yu,
.navbar,
.btn,
.form-control,
.input-gruop,
.breadcrumb,
.nav-tabs,
.nav-pills,
.panel-title,
.list-group,
.pagination,
.pager,
.alert,
.label,
.badge,
.panel-heading,
.lead,
.tooltip,
.popover {
	font-family: $font-family-sans-serif;
}
